<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <!-- 本地引用jq -->
        <script src="../plugin/jquery-2.1.4/jquery.min.js"></script>

        <!-- 本地引用bootstrap -->
        <script src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <link
            rel="stylesheet"
            href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css"
        />

        <!-- 本地引用自定义js模块 -->
        <script src="../plugin/sb-admin-2/sb-admin-2.js"></script>
        <link rel="stylesheet" href="../plugin/sb-admin-2/sb-admin-2.css" />
    </head>
    <body>
        <!-- 添加消费记录页面 -->
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-4"></div>
            <form class="col-lg-4" action="">
                <div class="form-group">
                    <label>原密码</label>
                    <input
                        type="password"
                        class="form-control"
                        placeholder="请输入原密码"
                    />
                </div>
                <div class="form-group">
                    <label>新密码</label>
                    <input
                        type="password"
                        class="form-control"
                        placeholder="请输入新密码"
                    />
                </div>
                <div class="form-group">
                    <label>新密码</label>
                    <input
                        type="password"
                        class="form-control"
                        placeholder="请输入新密码"
                    />
                </div>
                <button type="button" class="btn btn-default">重置</button>
                <button type="button" class="btn btn-success">确认修改</button>
            </form>
            <div class="col-lg-4"></div>
        </div>
    </body>
</html>
